In [2]:
!pip install mysql-connector

In [7]:
import mysql.connector
#importing database
database = mysql.connector.connect(
        host="localhost",
        user="root",
        password="",
        database = "pythons_8am")
db = database.cursor()

In [8]:
db.execute("SELECT * FROM students")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 89.0, 76.0, 91.0, 56.0, 89.0, 400.0, 80.0, 'A')
(2, 'Shyam', 78.0, 89.0, 67.0, 90.0, 76.0, 400.0, 83.0, 'A')
(3, 'Shyama', 78.0, 89.0, 67.0, 90.0, 76.0, 400.0, 83.0, 'A')

In [ ]:
# insert
sql = """ INSERT INTO students (name, physics, chemistry, math, english, nepali, total, per, grade) 
VALUES ('Sachin', 78, 67, 87, 90, 65, 400, 80, 'A');""""
db.execute(sql)
database.commit()

In [9]:
db.execute("SELECT * FROM students")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 89.0, 76.0, 91.0, 56.0, 89.0, 400.0, 80.0, 'A')
(2, 'Shyam', 78.0, 89.0, 67.0, 90.0, 76.0, 400.0, 83.0, 'A')
(3, 'Shyama', 78.0, 89.0, 67.0, 90.0, 76.0, 400.0, 83.0, 'A')

In [ ]:
# Delete
sql = "DELETE FROM students WHERE sn = 3""
db.execute(sql)
database.commit()

In [10]:
sql = "UPDATE `students` SET `name` = 'Shyama' WHERE sn = 2;"
db.execute(sql)
database.commit()

In [1]:
# WAP to take data from users and insert it into the table also CRUD