In [1]:
# # file
# modes
# r ->read
# w ->write
# x ->create
# a ->append

# file = open('<file_name>','mode')
# file.close()

# with open(<file_name>,<mode>):
#     <operations>

In [4]:
try:
    file = open('data.txt','x')
    file.close()
except:
    print("The file is already there")

The file is already there

In [5]:
import os
os.listdir()

['.ipynb_checkpoints',
 'data.txt',
 'file.ipynb',
 'first_class.ipynb',
 'function.ipynb',
 'ifelse.ipynb',
 'list.ipynb',
 'loop.ipynb',
 'tuple and set.ipynb']

In [6]:
#write
file = open('data.txt','w')
file.write('Hello Wolrd')
file.close()

In [8]:
#read
file = open('data.txt','r')
print(file.read())
file.close()

Hello Wolrd

In [15]:
#write
file = open('data.txt','w')
file.write("""sn,name,age,add,phone
1,Ram,34,Kathmandu,9808778765
2,Shyam,45,Bhaktapur,9867667654
3,Hari,23,Lalitpur,9878778765
4,Nabin,45,Jhapa,9878445654
5,Sabin,32,Kathmandu,9867005643
6,Akash,33,Jhapa,9856778765""")
file.close()

In [16]:
file = open('data.txt','r')
data = file.read()
print(data)
file.close()

sn,name,age,add,phone
1,Ram,34,Kathmandu,9808778765
2,Shyam,45,Bhaktapur,9867667654
3,Hari,23,Lalitpur,9878778765
4,Nabin,45,Jhapa,9878445654
5,Sabin,32,Kathmandu,9867005643
6,Akash,33,Jhapa,9856778765

In [26]:
list_data = data.split('\n')
list_data

['sn,name,age,add,phone',
 '1,Ram,34,Kathmandu,9808778765',
 '2,Shyam,45,Bhaktapur,9867667654',
 '3,Hari,23,Lalitpur,9878778765',
 '4,Nabin,45,Jhapa,9878445654',
 '5,Sabin,32,Kathmandu,9867005643',
 '6,Akash,33,Jhapa,9856778765']

In [28]:
final_data = []
for i in list_data:
    z = i.split(',')
    try:
        z[2] = int(z[2])
        z[0] = int(z[])
        final_data.append(z)
        
    except:
        final_data.append(z)


final_data

[['sn', 'name', 'age', 'add', 'phone'],
 [1, 'Ram', 34, 'Kathmandu', '9808778765'],
 [2, 'Shyam', 45, 'Bhaktapur', '9867667654'],
 [3, 'Hari', 23, 'Lalitpur', '9878778765'],
 [4, 'Nabin', 45, 'Jhapa', '9878445654'],
 [5, 'Sabin', 32, 'Kathmandu', '9867005643'],
 [6, 'Akash', 33, 'Jhapa', '9856778765']]

In [29]:
name = input("Enter name for search ")
for i in final_data:
    if i[1] == name:
        print(i)

Enter name for search  Ram

[1, 'Ram', 34, 'Kathmandu', '9808778765']

In [30]:
pwd

'C:\\Users\\Aayush\\Python8am'

In [31]:
#write
file = open('data.csv','w')
file.write("""sn,name,age,add,phone
1,Ram,34,Kathmandu,9808778765
2,Shyam,45,Bhaktapur,9867667654
3,Hari,23,Lalitpur,9878778765
4,Nabin,45,Jhapa,9878445654
5,Sabin,32,Kathmandu,9867005643
6,Akash,33,Jhapa,9856778765""")
file.close()

In [32]:
pwd

'C:\\Users\\Aayush\\Python8am'

In [34]:
#write mood
bill = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = float(input("Enter price = "))
    qty = float(input("Enter qty = "))
    total = price * qty
    data = f"{name},{price},{qty},{total}\n"
    bill = bill + data
    
print(bill)
#write
file = open('bill.csv','w')
file.write('name,price,qty,total\n')
file.write(bill)
file.close()

Enter n =  2
Enter name =  Apple
Enter price =  300
Enter qty =  3
Enter name =  Banana
Enter price =  100
Enter qty =  4

Apple,300.0,3.0,900.0
Banana,100.0,4.0,400.0

In [37]:
#write mood
import datetime
x = datetime.datetime.now()
date_time = x.strftime("%c")
bill = ""
n = int(input("Enter n = "))
customer_name = input("Enter customer name = ")
for i in range(n):

    name = input("Enter name = ")
    price = float(input("Enter price = "))
    qty = float(input("Enter qty = "))
    total = price * qty
    data = f"{customer_name},{name},{price},{qty},{total},{date_time}\n"
    bill = bill + data
    
print(bill)
#write
file = open('bills.csv','a')
file.write('customer_name,name,price,qty,total,date_time\n')
file.write(bill)
file.close()

Enter n =  1
Enter customer name =  Ram
Enter name =  Apple
Enter price =  200
Enter qty =  3

Ram,Apple,200.0,3.0,600.0,Wed Jan  8 09:30:37 2025