In [3]:
a = 10
print(a)

10

In [17]:
a = 10   #int 0-9
b = 10.5  #float 0-9 with .
c = 'Hello' #str   a-z A-Z 0-9 !@#$%^&*()_+
d = False    #bool True False

print(a,b,c,d)

10 10.5 Hello False

In [8]:
a_b = 10
print(a)

10

In [12]:
a1 = 10
print(a1)

10

In [14]:
# a,b = 10,10.5

In [19]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
a = "30"
b =  30

In [20]:
# type casting
# int() float() str() bool()

In [24]:
a = "10"
print(int(a))

10

In [25]:
a = 10
print(float(a))

10.0

In [26]:
a = 15.5
print(int(a))

15

In [2]:
a = False
print(int(a))

0

In [6]:
a = "10.547475859"
print(int(float(a)))

10

In [9]:
a = "Hello"
print(bool(a))

True

In [10]:
#input from users
a = input("Enter a = ")
print(a)
print(type(a))

Enter a =  10

10
<class 'str'>

In [ ]:
a = int("10")

In [12]:
a = int(input("Enter a = "))
b = int(input("Enter b = "))
c = a + b
print(c)

Enter a =  10
Enter b =  20

30

In [13]:
# operator

In [15]:
# + - * / % ** //

In [19]:
a = 10
b = 3
c = a/b
print(c)

3.3333333333333335

In [22]:
print(a%b)
print(a**b)
print(a//b)

1
1000
3

In [1]:
# string
a = "Hello "
b = "World"
c = a+b
print(c)

Hello World

In [6]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [8]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")

info = "Hello World I am " + name + " I am from " + add + " I am " + str(age)
print(info)

Enter name =  Ram
Enter age =  34
Enter add =  Kathmandu

Hello World I am Ram I am from Kathmandu I am 34

In [9]:
a = True
b = False
c = a+b
print(c)

1

In [10]:
a = True
b = True
c = a+b
print(c)

2

In [11]:
p = float(input("Enter p = "))
t  = float(input("Enter t = "))
r = float(input("Enter r = "))

i = p*t*r/100

print("The value of i = ",i)

Enter p =  100000
Enter t =  3
Enter r =  10.5

The value of i =  31500.0

In [ ]:
physics = int(input("Enter Physics marks = "))
chemistry =  int(input("Enter chemistry marks = "))
math = int(input("Enter math marks = "))
english = int(input("Enter english marks = "))
nepali = int(input("Enter nepali marks = "))

total = physics + chemistry + math + english + nepali
per = total/5

print("The total = ",total)
print("The per = ",per)
print("The total marks is ",total,"and per is",per)