In [1]:
# loop
# for 
# while

In [2]:
# range(5)  # 0,1,2,3,4
# range(1,5) # 1,2,3,4
# range(1,5,2) #1,3

In [6]:
for i in range(5):
    print(i, end = " ")

0 1 2 3 4

In [7]:
for i in range(1,5):
    print(i, end = " ")

1 2 3 4

In [8]:
for i in range(1,5,2):
    print(i, end = " ")

1 3

In [13]:
for i in range(1,5,2):
    print(i,"Hello World")

1 Hello World
3 Hello World

In [15]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n*i)

In [18]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter n =  5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [24]:
# s = 0
# for i in range(5):
#     x = int(input("Enter x = "))
#     s = s + x
#     print(s)

In [ ]:
s = 0
c = 0
for i in range(5):
    x = int(input("Enter x = "))
    c = c + x*1.1
    s = s + x
    print("c = ",c)
    print("s = ",s)

In [32]:
#4! = 1*2*3*4
fac = 1
n = int(input("Enter n = "))
for i in range(1,n+1):
    print("Fac = ",fac,"i = ",i)
    fac = fac *i
    
    print(fac)

Enter n =  5

Fac =  1 i =  1
1
Fac =  1 i =  2
2
Fac =  2 i =  3
6
Fac =  6 i =  4
24
Fac =  24 i =  5
120

In [3]:
a = "Hello World"
for i in a:
    print(i ,end = "")

Hello World

In [4]:
a = "Hello"
for i in a:
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

In [14]:
a = "Hello World. I am python."
for i in a:
    if i != ".":
        print(i, end = "")

Hello World I am python

In [17]:
info = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    data = name +" "+ phone + "\n"
    info = info +data

print(info)

Enter n =  2
Enter name =  Ram
Enter phone =  9808778765
Enter name =  Shyam
Enter phone =  9808778765

Ram 9808778765
Shyam 9808778765

In [19]:
net_total = 0
bill = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = float(input("Enter price = "))
    qty = float(input("Enter qty = "))
    total = price * qty
    data = name +" "+ str(price) +" " + str(qty) +" " + str(total) + "\n"
    bill = bill + data
    net_total = net_total + total
    
print(bill)
print("Net total = ",net_total)

Enter n =  2
Enter name =  Coke
Enter price =  200
Enter qty =  3
Enter name =  Momo
Enter price =  100
Enter qty =  2

Coke 200.0 3.0 600.0
Momo 100.0 2.0 200.0

Net total =  800.0

In [20]:
# control statement
#break
#continue

In [21]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [22]:
a = "Hello World. I am python."
for i in a:
    if i != ".":
        print(i, end = "")
    else:
        break

Hello World

In [24]:
for i in range(10):
    if i == 5:
        continue
    print(i, end = " ")

0 1 2 3 4 6 7 8 9

In [1]:
# WAP to detect if the given no is prime or composite
# prime : 2,3,5,7,11,13,17
# composite : 4,6,9,10,12,14

In [14]:
n = int(input("Enter n = "))
if n >=2:
    for i in range(2,n//2):
        if n%i==0:
            print(n,"is composite","i = ",i)
            break
    else:
        print(n,"is prime")
else:
   print("value should be >= 2")

Enter n =  -23

value should be >= 2

In [34]:
n = 5
for i in range(1,n):
    print((n-i)*" ","*"*(2*i-1))

     *
    ***
   *****
  *******

In [19]:
for i in range(5,-1,-1):
    print(i)

5
4
3
2
1
0

In [40]:
n = 5
for i in range(1,n):
    print((n-i)*" ","o"*(2*i-1))
for i in range(3):
    print(" "*3,"*"*2)

     o
    ooo
   ooooo
  ooooooo
    **
    **
    **

In [50]:
for i in range(1,10,2):
    print("*"*i)
for i in range(1,10,2):
    print("*"*i)
for i in range(5):
    print("*"*1)

*
***
*****
*******
*********
*
***
*****
*******
*********
*
*
*
*
*

In [51]:
# # While
# while <condition>:
#     <operation>

In [2]:
i = 0
while i<=5:
    print(i,"Hello World")
    i = i+1

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World
5 Hello World

In [3]:
i = 5
while i>=0:
    print(i,"Hello World")
    i = i-1

5 Hello World
4 Hello World
3 Hello World
2 Hello World
1 Hello World
0 Hello World

In [4]:
i = 1
n = int(input("Enter n = "))
while i<=10:
    print(n,"*",i,"=",n*i)
    i = i+1

Enter n =  5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [5]:
#4! = 1*2*3*4
i = 1
fac = 1
n = int(input("Enter n = "))
while i<=n:
    print("Fac = ",fac,"i = ",i)
    fac = fac *i
    i = i+1
    
print(fac)

Enter n =  5

Fac =  1 i =  1
1
Fac =  1 i =  2
2
Fac =  2 i =  3
6
Fac =  6 i =  4
24
Fac =  24 i =  5
120